div#nodeTree{
  padding: 10px 20px;
}
div.level-1,
div.level-1 div{
  position: relative;
}

div.level-1 label>i.arrow-down{
  display: inline-block;
  height: 0;
  width: 0;
  border-top: 10px solid #39c;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
}
div.level-1 label>i.arrow-right{
  display: inline-block;
  height: 0;
  width: 0;
  border-left: 10px solid #39c;
  border-top: 5px solid transparent;
  border-bottom: 5px solid transparent;
}
div.level-1 label>i.addBtn,
div.level-1 label>i.delBtn{
  display: none;
}
div.level-1 label:hover>i.addBtn,
div.level-1 label:hover>i.delBtn{
  display: inline-block;
}